@page
@model JobRanger.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>[job]<span style="color: darkgreen">RANGER</span> </h1>
<h4>helps you become a master of the job search wilderness.</h4>

<ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Search multiple job search vendors in one place.</li>
    <li class="list-group-item list-group-item-action">Track your target employers.</li>
    <li class="list-group-item list-group-item-action">Save your favorite jobs.</li>
    <li class="list-group-item list-group-item-action">Track your contact history and schedule future actions for each of your jobs.</li>
    <li class="list-group-item list-group-item-action">Customize your resumes and cover letters for each application.</li>
    <li class="list-group-item list-group-item-action">Keep all your links to your resources in one place.</li>
</ul>
