@page
@model JobRanger.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="jumbotron ">
    <h1 class="display-1">[job]<span style="color: darkgreen">RANGER</span></h1>
    <p class="lead">Master the job search wilderness.</p>
    <hr class="my-4">
    <p>Organize your job searches in one place. Track your contacts with employers. Customize your resumes and cover letters. More!</p>
    
</div>

<div class="jumbotron jumbotron-fluid" id="search-jumbo">
    <h3 class="display-4">Get your search going</h3>
    <hr class="my-4">
    <p>Make use of over 30 of the top job search engines to find just the right job for you.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Agency/Index" role="button">Get Started</a>
</div>

<div class="jumbotron jumbotron-fluid" id="search-jumbo">
    <h3 class="display-4">Follow your favorite employers</h3>
    <hr class="my-4">
    <p>Add links to your favorite employer's site and save your target jobs for each.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Employer/Index" role="button">Start Tracking</a>
</div>

<div class="jumbotron jumbotron-fluid" id="search-jumbo">
    <h3 class="display-4">Organize your job search</h3>
    <hr class="my-4">
    <p>Store job descriptions, organize by employer, and record your interactions all in one spot.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Job/Index" role="button">Amaze Yourself</a>
</div>

<div class="jumbotron jumbotron-fluid" id="search-jumbo">
    <h3 class="display-4">Track your activity</h3>
    <hr class="my-4">
    <p>Make note of your interactions with employers by job title, build to-do lists, and stay on track.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Interactions/Index" role="button">Get Busy</a>
</div>

<div class="jumbotron jumbotron-fluid" id="search-jumbo">
    <h3 class="display-4">Leverage your network</h3>
    <hr class="my-4">
    <p>Store your contacts by employer and job. Use our workflow to exstend your professional reach.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Contacts/Index" role="button">Expand Your Connections</a>
</div>