@page
@model JobRanger.Pages.WorkflowModel
@{
    ViewData["Title"] = "Workflow";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1 class="display-1">[job]<span style="color: darkgreen">RANGER</span> </h1>
<h4>helps you become a master of the job search wilderness.</h4>
<br />
<br />

<h5><strong>Get ready to copy-and-paste</strong></h5>
<br />
<p>You'll be spending a lot of time switching between different websites, copying parts, and then pasting into [job]<span style="color: darkgreen">RANGER</span>. However, once you have entered the information for your favorite employers, jobs, and contacts you'll be reusing that information over and over again.</p>
<br />
<h5>
    <a class="btn btn-light" data-toggle="collapse" href="#enter-jobs" role="button" aria-expanded="false" aria-controls="enter-jobs" style="color: darkgreen"><strong>When you are looking for jobs...</strong></a>

</h5>
<br />
<div class="collapse" id="enter-jobs">
    <div class="card card-body">
        <ol>
            <li>Use the search engine links to find jobs you like. Your search will be in a separate window from [job]<span style="color: darkgreen">RANGER</span>. Keep both windows open.</li>
            <li>Toggle back to [job]<span style="color: darkgreen">RANGER</span>. If you've never applied with the employer, navigate to <strong>Employers</strong>.</li>
            <li>
                <ul>
                    Continue with these steps if the employer is new, otherwise skip these steps.
                    <li>Choose <span style="color:rgb(161, 72, 41) ">Create New</span> to add a new Employer.</li>
                    <li>Copy and paste the name of the employer from the job description shown in the job search into the Employer field in the Employer <span style="color:rgb(161, 72, 41) ">Create New</span> Form.</li>
                    <li>Open another window and Google the name of the employer (feel free to paste the name).</li>
                    <li>Find the website for the employer and select it. Copy the url from the url field in the browser.</li>
                    <li>Return to the Employer <span style="color:rgb(161, 72, 41) ">Create New</span> Form on [job]<span style="color: darkgreen">RANGER</span> and paste the url into the Website field.</li>
                    <li>Feel free to add other details on the form as you see fit. You only need an Employer Name and Website to continue.</li>
                </ul>
            </li>
            <li>
                If you have the employer's information saved, it's time to gather job information.
                <ul>
                    <li>Navigate to Jobs.</li>
                    <li>Select <span style="color:rgb(161, 72, 41) ">Create New</span>.</li>
                    <li>Copy the job title from job description and paste into the Name field.</li>
                    <li>Copy the job number and paste into the Job Number field. If there isn't a job number posted, select any number you'd like.</li>
                    <li>Copy and paste the entire job description into the Job Description field. This information will come in handy when customizing your resume and cover letter for this job.</li>
                    <li>Select the employer from the drop down list.</li>
                    <li>Click the <button class="btn btn-primary">Create</button> button to add the job.</li>
                </ul>
            </li>

        </ol>
        <br />
        <p><strong>Congratulations!</strong> You've added a Job an associated it with an Employer. Now you're ready to start doing stuff.</p>
        
    </div>
    <br/>
</div>


<h5>
    <a class="btn btn-light" data-toggle="collapse" href="#enter-actions" role="button" aria-expanded="false" aria-controls="enter-actions" style="color: darkgreen"><strong>When you are looking to start taking action...</strong></a>

</h5>
<br />
<div class="collapse" id="enter-actions">
    <div class="card card-body">

    </div>
    <br/>
</div>

<h5>
    <a class="btn btn-light" data-toggle="collapse" href="#enter-network" role="button" aria-expanded="false" aria-controls="enter-network" style="color: darkgreen"><strong>When you are ready to Network...</strong></a>

</h5>
<br />
<div class="collapse" id="enter-network">
    <div class="card card-body">

    </div>
    <br/>
</div>


