/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: 'Orienta', sans-serif;
}

html {
    font-size: 20px;
    min-height: 100%;
    position: relative;
    
}

body {
    color: #e5e5e5;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

   
a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

.nav-item:hover {
    font-size: 120%;
   font-weight: bold
}

a { color: rgb(161, 72, 41) }

.jumbotron {
    background: none
}


#display-user {
    font-size: 1.3rem
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(172, 105, 177, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.agency-card {
    background: rgba(255, 255, 255, 1.0);
    color: rgb(172, 105, 177);
    display: inline-block;
    width: 18rem;
    border-radius: 25%
}

.agency-card a { color: rgb(161, 72, 41) }

.card {
    background: rgba(229, 229, 229, .30);
    color: rgb(84, 26, 5);
    border-radius: 10px
}

.card a { color: rgb(161, 72, 41) }

.table { 
    background: rgba(172, 105, 177, .45);
    border-spacing: 5px;
    border-radius:10px
}

.table a { color: rgb(240, 209, 107) }

.footer {
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}