@page "{id:int}"
@model JobRanger.Pages.Job.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Job.Name) with Id = @Html.DisplayFor(model => model.Job.Id)</h1>
<h4>at @Html.DisplayFor(model=>model.Job.Employer.Name) with EmployerId = @Html.DisplayFor(model=>model.Job.EmployerId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.Id" />
            <input type="hidden" asp-for="Job.EmployerId" />
            <div class="form-group">
                <label asp-for="Job.Name" class="control-label"></label>
                <input asp-for="Job.Name" class="form-control" />
                <span asp-validation-for="Job.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Number" class="control-label"></label>
                <input asp-for="Job.Number" class="form-control" />
                <span asp-validation-for="Job.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Description" class="control-label"></label>
                <textarea asp-for="Job.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
