@page
@using JobRanger.Models
@model JobRanger.Pages.Documents.CreateModel

@{
    ViewData["Title"] = "Document - Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Add Document</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FileUpLoad.Title" class="control-label"></label>
                <input asp-for="FileUpLoad.Title" class="form-control" />
                <span asp-validation-for="FileUpLoad.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpLoad.Document" class="control-label"></label>
                <input asp-for="FileUpLoad.Document" type="file" class="form-control" />
                <span asp-validation-for="FileUpLoad.Document" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
