@page
@model JobRanger.Pages.Agency.CreateModel

@{
    ViewData["Title"] = "Create Agency";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Add Agency</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agency.Name" class="control-label"></label>
                <input asp-for="Agency.Name" class="form-control" />
                <span asp-validation-for="Agency.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.WebSite" class="control-label"></label>
                <input asp-for="Agency.WebSite" class="form-control" />
                <span asp-validation-for="Agency.WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.IconSrc" class="control-label">Icon</label>
                <select asp-for="Agency.IconSrc" class="form-control" asp-items=@Model.AgencyIconSrcSelectList>
                    <option value="">-- Select Icon --</option>
                </select>
                <span asp-validation-for="Agency.IconSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
