@page
@model JobRanger.Pages.Agency.Index

@{
    ViewData["Title"] = "Agency";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-3">
    <strong>Agencies</strong>
</h1>


@foreach (var item in Model.Agency)
{
    <div class="card m-3  " style="background-color: white; color: rgb(172, 105, 177); display: inline-block; width: 18rem;">
        <div class="card-body">

            <h5 class="card-title ">
                <a href=@Html.DisplayFor(modelItem => item.WebSite) target="blank">
                    <img src="@item.IconSrc" height="120" width="120"/>
                </a>
            </h5>
            <div>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </div>


        </div>
    </div>
}