@page
@model JobRanger.Pages.InteractionTypes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Interaction Types</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InteractionTypes[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InteractionTypes[0].Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InteractionTypes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

    </tr>
}
    </tbody>
</table>
