@page
@using System.Diagnostics
@model JobRanger.Pages.Interactions.CreateModel

@{
    ViewData["Title"] = "Action - Add";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Add Action</h1>
<h4>for @Model.Job.Name at @Model.Job.Employer.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Interaction.JobId" value=@Model.Job.Id/>
           
           
            <div class="form-group">
                <label asp-for="Interaction.TargetTime" class="control-label"></label>
                <input asp-for="Interaction.TargetTime" class="form-control" />
                <span asp-validation-for="Interaction.TargetTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interaction.InteractionTypeName" class="control-label"></label>
                <select asp-for="Interaction.InteractionTypeName" class="form-control">
                    <option>Choose an option</option>
                    <option>Applied</option>
                    <option>Call</option>
                    <option>Write</option>
                    <option>Email</option>
                    <option>Visit</option>
                    <option>Interview</option>
                    <option>Phone Interview</option>
                    <option>Offer</option>
                    <option>Accept</option>
                    <option>Decline</option>
                    <option>Will Follow Up</option>
                    <option>Did Follow Up</option>
                    <option>Request Info</option>
                    <option>Connect on LinkedIn/email</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="Interaction.Notes" class="control-label"></label>
                <textarea asp-for="Interaction.Notes" class="form-control"></textarea>
                <span asp-validation-for="Interaction.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a> |
    <a href="javascript: history.go(-1)">Go Back to Previous Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
